.home-view-wrapper {
  min-height: 100dvh;
  height: max-content;
}

.home-view-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 80dvh;
}

.large-title {
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    font-size: 5rem;

    span {
      color: #4e31a1;
    }
  }

  small {
    max-width: 40dvw;
    color: #898989;
    font-weight: 300;
  }
}
