.custom-navbar {
    background-color: transparent !important;
    font-weight: 300;
    justify-content: space-between;
    padding-top: 2em;
}

button {
    border-radius: 100em !important;
    padding: 5px 30px !important;
}